# Python and essential libraries
pandas==2.1.1
numpy==1.26.0
scikit-learn==1.5.0
xgboost==2.0.0
lightgbm==4.0.0
catboost==1.2.1
matplotlib==3.8.0
optuna==3.5.0

# PyTorch and related libraries
torch==2.0.1
torchvision==0.15.2
torchaudio==2.0.2

# OpenFE
openfe

# Scrapy
selenium
webdriver_manager